body{
    background: #242A18;
}

.info-table{
    width: 100%;
    height: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.container-all{
    width: 80%;
    height: 630px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 500px 1fr;
    overflow: hidden;
    outline: solid 2px #DCCEB7;
    border-radius: 10px;
}

.image{
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    outline: solid 2px #DCCEB7;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subcontainer{
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 60px 1fr;
    background: #DCCEB7;
}

.name{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #47433C;
    color: #ffffff;
    border: solid 2px #DCCEB7;
}

.personal-info .table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}

.important{
    display: block;
    width: 100%;
    height: 16.66%;
    font-size: 20px;
}

.important .row{
    background: #47433C;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: solid 1px #DCCEB7;
}

.column{
    display: block;
    width: 100%;
    height: 16.66%;
    font-size: 20px;
}

.column .row{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    border: solid 1px #47433C;
}

.container-media{
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
}

.section{
    background: #D87B00;
    color: #ffffff;
    width: 60%;
    height: 50px;
    border-radius: 0 100px 100px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.section b{
    margin-right: 50px;
}

.videos{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-gap: 20px;
    justify-content: center;
}

.videos iframe{
    width: 100%;
    height: 300px;
    border: solid 2px #DCCEB7;
    border-radius: 10px;
}

.videos iframe:hover{
    border: solid 2px #F39600;
}

@media (max-width: 1200px){
    .container-all{
        height: 500px;
        grid-template-columns: 300px 1fr;
    }

    .name h1{
        font-size: 25px;
    }

    .important{
        font-size: 12px;
    }

    .important .row{
        font-size: 12px;
    }

    .column{
        font-size: 12px;
    }

    .videos iframe{
        width: 100%;
        height: 200px;
        border: solid 2px #DCCEB7;
        border-radius: 10px;
    }
}

@media (max-width: 780px){
    .container-all{
        height: 350px;
        grid-template-columns: 160px 1fr;
    }

    .name h1{
        font-size: 20px;
    }

    .important{
        font-size: 8px;
    }

    .important .row{
        font-size: 8px;
    }

    .column{
        font-size: 8px;
    }

    .videos iframe{
        height: 100px;
    }
}